* {
    margin: 0;
    padding: 0;
}

main {
    padding: 0 2.5rem;
    max-width: 1440px;
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-size: clamp(1rem, 0.9286rem + 0.3571vi, 1.25rem);
}

h1 {
    margin: 1rem 0;
    font-size: clamp(1.5rem, 1.0714rem + 2.1429vi, 3rem);
}

p {
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

figcaption {
    font-size: 0.8rem;
}


.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: auto;
    grid-auto-flow: dense; */
    gap: 1rem;
}

.image-container figure {
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 4px;
}

.post-container {
    max-width: 80ch;
    margin: 0 auto;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.social-icons a {
    width: 200px;
    display: inline-block;
}
