{% extends "base.html" %}

{% block content %}
<article class="post-container" lang="{{ language }}">
  <h1>{{ title }}</h1>
  <figure>
    <img src="{{ photo.image.url }}" alt="{{ photo_desc }}">
    {% if image.attribution %}
    <figcaption>Credit: {{ image.attribution }}</figcaption>
    {% endif %}
  </figure>
  <p>
    {{ body }}
  </p>
  <ul class="social-icons">
  {% for icon in icons %}
    <li>
      <a href="{{ icon.link }}">
        <img src="{{icon.icon.image.url}}" alt="{{ icon.linktext }}"/>
      </a>
    </li>
  {% endfor %}
  </ul>
</article>
{% endblock %}
